.container p {
    font-size: 18px;
}

.portfolio-item-img {
    padding:16px;
}

.title {
    padding:32px;
}

.bg-img {
    z-index: -1;
}

.banner {
    background-image: url("../Resources/img/portfolio-bg.jpg");
    background-size: cover;
    padding: 32px;
}